In [12]:
import yfinance as yf

def get_historical_data_from_yahoo(ticker, start, end):
    data = yf.download(ticker, start=start, end=end, interval='1d')
    return data

data = get_historical_data_from_yahoo('BTC-USD', '2017-01-01', '2024-06-27')
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008
2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992
2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000
2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008