In [13]:
import yfinance as yf

def get_historical_data_from_yahoo(ticker, start, end):
    data = yf.download(ticker, start=start, end=end, interval='1d')
    return data

data = get_historical_data_from_yahoo('BTC-USD', '2019-07-26', '2024-06-27')

[*********************100%%**********************]  1 of 1 completed

In [14]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-26,9913.126953,9916.517578,9717.982422,9870.303711,9870.303711,14495714483
2019-07-27,9871.165039,10167.320312,9411.521484,9477.677734,9477.677734,16817809536
2019-07-28,9491.626953,9575.544922,9252.296875,9552.860352,9552.860352,13738687093
2019-07-29,9548.178711,9681.648438,9472.948242,9519.145508,9519.145508,13791445323
2019-07-30,9522.329102,9701.759766,9437.335938,9607.423828,9607.423828,13829811132
...,...,...,...,...,...,...
2024-06-22,64113.863281,64475.468750,63929.757812,64252.578125,64252.578125,9858198793
2024-06-23,64248.964844,64491.703125,63180.796875,63180.796875,63180.796875,11170471802
2024-06-24,63173.351562,63292.527344,58601.699219,60277.414062,60277.414062,43152133651
2024-06-25,60266.281250,62258.261719,60239.750000,61804.640625,61804.640625,29201215431
2024-06-26,61789.675781,62434.136719,60695.187500,60811.277344,60811.277344,22506003064